.carrusel {
    .carrusel__wmsg {
        width: 50%;
        position: absolute;
        z-index: 11;
        top: 240px;
        left: 390px;

        .wmsg__border {
            display: flex;
            justify-content: center;
            .wmsg__content {
                border: 10px solid $Mor;
                width: 100%;
                height: 140px;
                padding: 10px;
                display: block;
                .wmsg__parts {
                    display: flex;
                    justify-content: space-evenly;

                    .wmsg__a--txt {
                        font-size: 32px;
                        color: $Bl;
                    }

                    .wmsg__b--txt {
                        font-size: 96px;
                        font-weight: bold;
                        color: $Bl;
                        margin-top: -26px;
                    }
                }

                .wmsg__foot {
                    display: flex;
                    justify-content: center;
                    color: $Bl;
                    margin-top: -30px;
                    opacity: 0%;

                    .wmsg__font--txt {
                        font-size: 26px;
                        font-weight: bold;
                        color: $Bl;
                    }

                    .icon-right-open {
                        padding-top: 4px;
                        color: $Bl;
                        font-size: 26px;
                    }
                }

                &:hover {
                    transition: all 0.6s;
                    height: 180px;

                    .wmsg__b--txt {
                        transition: all 0.6s;
                        color: $Ros;
                    }

                    .wmsg__foot {
                        transition: all 0.6s;
                        opacity: 100%;
                    }
                }
            }
        }
    }
}

.footer__title {
    width: 100%;
    background: $Color;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 60px;

    .footer__title--item {
        color: $Bl;
        font-weight: bolder;
    }

    @media (min-width: 320px) and (max-width: 1280px) {
        height: 140px;
        padding: 20px;
    }
}