{% load static %}
<div class="carrusel">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'img/bg/bg-teacompano.png' %}" class="d-block w-100" alt="Teacompaño CIS">
            </div>
            <div class="carousel-item">
                <img src="{% static 'img/bg/bg-teacompano-a.jpg' %}" class="d-block w-100" alt="Teacompaño CIS">
                <div class="carrusel__wmsg container">
                    <a href="/servicios" class="wmsg__border">
                        <div class="wmsg__content">
                            <div class="wmsg__parts">
                                <div class="wmsg__a">
                                    <p class="wmsg__a--txt">
                                        Cuidados<br>de Enfermería
                                    </p>
                                </div>
                                <div class="wmsg__b">
                                    <p class="wmsg__b--txt">
                                        A un Clic
                                    </p>
                                </div>
                            </div>
                            <div class="wmsg__foot">
                                <p class="wmsg__font--txt">
                                    Conoce todos nuestros servicios
                                </p>
                                <div class="icon-right-open"></div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'img/bg/bg-teacompano-b.jpg' %}" class="d-block w-100" alt="Teacompaño CIS">
                <div class="carrusel__wmsg container">
                    <a href="/nosotros" class="wmsg__border">
                        <div class="wmsg__content">
                            <div class="wmsg__parts">
                                <div class="wmsg__a">
                                    <p class="wmsg__a--txt">
                                        Somos<br>Profesionales
                                    </p>
                                </div>
                                <div class="wmsg__b">
                                    <p class="wmsg__b--txt">
                                        Humanos
                                    </p>
                                </div>
                            </div>
                            <div class="wmsg__foot">
                                <p class="wmsg__font--txt">
                                    Y altamente capacitados
                                </p>
                                <div class="icon-right-open"></div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'img/bg/bg-teacompano-c.jpg' %}" class="d-block w-100" alt="Teacompaño CIS">
                <div class="carrusel__wmsg container">
                    <a href="/servicios/formulario-solicitud/" class="wmsg__border">
                        <div class="wmsg__content">
                            <div class="wmsg__parts">
                                <div class="wmsg__a">
                                    <p class="wmsg__a--txt">
                                        Solicita<br>Tu servicio
                                    </p>
                                </div>
                                <div class="wmsg__b">
                                    <p class="wmsg__b--txt">
                                        Hoy mismo
                                    </p>
                                </div>
                            </div>
                            <div class="wmsg__foot">
                                <p class="wmsg__font--txt">
                                    Protege la salud de tu familia
                                </p>
                                <div class="icon-right-open"></div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<div class="footer__title">
    <h3 class="footer__title--item">
        Su bienestar nuestro objetivo. Su tranquilidad nuestra responsabilidad
    </h3>
</div>