{% load static %}
<div class="carrusel">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'img/bg/bg-teacompano.png' %}" class="d-block w-100" alt="Teacompaño CIS">
            </div>
            {% for carrusel in carrusel %}
            <div class="carousel-item">
                {% if carrusel.imagenp %}
                <img src="{{ carrusel.imagenp.url }}" class="d-block w-100" alt="{{ carrusel.imagenalt }}">
                {% else %}
                <img src="{% static 'img/bg/bg-teacompano-a.jpg' %}" class="d-block w-100" alt="Teacompaño CIS">
                {% endif %}
                <div class="carrusel__wmsg container">
                    <a href="/{{ carrusel.imglink }}" class="wmsg__border">
                        <div class="wmsg__content">
                            <div class="wmsg__parts">
                                <div class="wmsg__a">
                                    <p class="wmsg__a--txt">
                                        {{ carrusel.imgslogan | safe }}
                                    </p>
                                </div>
                                <div class="wmsg__b">
                                    <p class="wmsg__b--txt">
                                        {{ carrusel.imgtitle | safe }}
                                    </p>
                                </div>
                            </div>
                            <div class="wmsg__foot">
                                <p class="wmsg__font--txt">
                                    {{ carrusel.imgcta }}
                                </p>
                                <div class="icon-right-open"></div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="footer__title">
        <h3 class="footer__title--item">
            Su bienestar nuestro objetivo. Su tranquilidad nuestra responsabilidad
        </h3>
    </div>