{{> inner}}

<div class="container">
    <div class="card m-4">
        <div class="card-header m-4">
            <div class="hser">
                <h1>Acompañamiento a citas médicas</h1>
            </div>
            <div class="container">
                <ul>
                    <li>Acompañamiento a citas médicas.</li>
                    <li>Terapias físicas y de rehabilitación.</li>
                    <li>Acompañamiento en control de enfermedades y tratamientos médicos.</li>
                </ul>
            </div>
        </div>
    </div>
</div>