{{> inner}}

<div class="servicio__individual">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <div class="hser">
                    <h1>Acompañamiento a citas médicas</h1>
                </div>
            </div>
            <div class="card-body">
                <img src="/img/acompanamiento-citas.png" alt="" class="ser__img">
                <ul class="ser__item">
                    <li>Acompañamiento a citas médicas.</li>
                    <li>Terapias físicas y de rehabilitación.</li>
                    <li>Acompañamiento en control de enfermedades y tratamientos médicos.</li>
                </ul>
            </div>
        </div>
    </div>
</div>