{{> inner}}

<div class="container">
    <div class="card m-4">
        <div class="card-header m-4">
            <div class="hser">
                <h1>Asesoría Jurídica en salud</h1>
            </div>
            <div class="container">
                <ul>
                    <li>Asesoría jurídica sobre instituciones de salud.</li>
                    <li>Consulta de procesos y normas.</li>
                    <li>Atención en la defensa de sus derechos.</li>
                    <li>Consultas por negligencia médica.</li>
                </ul>
            </div>
        </div>
    </div>
</div>