{{> inner}}

<div class="servicio__individual">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <div class="hser">
                    <h1>Asesoría Jurídica en salud</h1>
                </div>
            </div>
            <div class="card-body">
                <img src="/img/asesoria-juridica-2.png" alt="" class="ser__img">
                <ul class="ser__item">
                    <li>Asesoría jurídica sobre instituciones de salud.</li>
                    <li>Consulta de procesos y normas.</li>
                    <li>Atención en la defensa de sus derechos.</li>
                    <li>Consultas por negligencia médica.</li>
                </ul>
            </div>
        </div>
    </div>
</div>