{{> inner}}

<div class="servicio__individual">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <div class="hser">
                    <h1>Consulta médica general en el domicilio</h1>
                </div>
            </div>
            <div class="card-body">
                <img src="/img/asesoria-en-casa-2321x181.png" alt="" class="ser__img">
                <ul class="ser__item">
                    <li>Control de signos vitales.</li>
                    <li>Evaluación del estado clínico del paciente.</li>
                    <li>Diagnóstico de enfermedades y heridas.</li>
                    <li>Tratamiento médico programado.</li>
                    <li>Recomendaciones específicas para el paciente y su familia.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
