{{> inner}}

<div class="container">
    <div class="row m-4">
        <div class="col-md-4 mx-auto">
            <div class="card m-4">
                <div class="card-header m-4">
                    <div class="hser">
                        <h1>Servicios Teacompaño</h1>
                        <h2>Con calidad humana</h2>
                    </div>
                    <div class="container">
                        <ul>
                            <li>Control de signos vitales.</li>
                            <li>Evaluación del estado clínico del paciente.</li>
                            <li>Diagnóstico de enfermedades y heridas.</li>
                            <li>Tratamiento médico programado.</li>
                            <li>Recomendaciones específicas para el paciente y su familia.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>