{{> inner}}

<div class="servicio__individual">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <div class="hser">
                    <h1>Cuidados de enfermería en el domicilio</h1>
                </div>
            </div>
            <div class="card-body">
                <img src="/img/cuidados-basicos-2.png" alt="" class="ser__img">
                <ul class="ser__item">
                    <li>Control de los signos vitales</li>
                    <li>Prevención y manejo de úlceras por la posición y de todo tipo de heridas</li>
                    <li>Acompañamiento en actividades lúdicas y de recreación, así como a citas médicas,
                        reuniones sociales y/o familiares</li>
                    <li>Contribuimos al reintegro del paciente a sus funciones diarias en el entorno familiar y
                        social</li>
                    <li>Administración de medicamentos</li>
                </ul>
            </div>
        </div>
    </div>
</div>
