{{> inner}}

<div class="container">
    <div class="row m-4">
        <div class="col-md-4 mx-auto">
            <div class="card m-4">
                <div class="card-header m-4">
                    <div class="hser">
                        <h1>Servicios Teacompaño</h1>
                        <h2>Con calidad humana</h2>
                    </div>
                    <div class="container">
                        <ul>
                            <li>Control de los signos vitales</li>
                            <li>Prevención y manejo de úlceras por la posición y de todo tipo de heridas</li>
                            <li>Acompañamiento en actividades lúdicas y de recreación, así como a citas médicas,
                                reuniones sociales y/o familiares</li>
                            <li>Contribuimos al reintegro del paciente a sus funciones diarias en el entorno familiar y
                                social</li>
                            <li>Administración de medicamentos</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>