{{> inner}}

<div class="container">
    <div class="row m-4">
        <div class="col-md-4 mx-auto">
            <div class="card m-4">
                <div class="card-header m-4">
                    <div class="hser">
                        <h1>Servicios Teacompaño</h1>
                        <h2>Con calidad humana</h2>
                    </div>
                    <p>
                        <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis, rerum earum non
                            consectetur praesentium animi. Rem quaerat officia fugit est, ex beatae ad, odio ut fuga
                            dicta asperiores odit praesentium!</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>