
<title>{{blog.titulo}}  | Día Saludable 💚 Teacompaño CIS | Cuidado Integral en Salud</title>

{{> nav}}

<div class="bg__nos">
    <img src="/img/bg/bg-teacompano-ds-a.jpg" alt="" class="bg__nos--img">
</div>

<div class="container m-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Inicio</a></li>
            <li class="breadcrumb-item"><a href="/dia-saludable">Día Saludable</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{blog.titulo}}</li>
        </ol>
    </nav>
</div>
{{> art}}
{{> social}}
{{> footer}}