{% extends 'base/index.html' %}
{% block ogtitle %}{{ pagemetatitle }}{% endblock %}
{% block ogdesc %}{{ pagemetadesc | safe}}{% endblock %}
{% block oguimg %}{{ pageogimg }}{% endblock %}
{% block ogurls %}{{ pageogurl }}{% endblock %}
{% block ogurlimg %}{{ pageogurlsec }}{% endblock %}

{% block mdescription %}{{ pagemetadesc }}{% endblock %}
{% block keywords %}{{ pagekeywords }}{% endblock %}
{% block title %}{{ pagemetatitle }}{% endblock %}
{% block content %}
{% load static %}
<div class="home">
    
    {% include 'partials/carrusel.html' %}

    <div class="estado__movil">
        {% if videourl %}
        <iframe src="https://www.youtube.com/embed/{{ videourl }}" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        <!-- <iframe src="https://www.youtube.com/embed/xXLujA9XNxA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
        {% else %}
        <img src="{% static 'img/img-video.jpg' %}" alt="" class="estado__movil--img">
        {% endif %}
    </div>

    {% include 'partials/intro.html' %}

    {% include 'partials/destacados.html' %}

    {% include 'partials/claims.html' %}

    {% include 'partials/contacto.html' %}

    {% include 'partials/alianzas.html' %}

    {% include 'partials/social.html' %}

</div>

{% endblock %}