<img src="/img/bg/bg-teacompano-03.jpg" class="inner--bg" alt="">
<div class="slogan">
    <div class="container text-center p-4">
        <h3>Su bienestar nuestro objetivo. Su tranquilidad nuestra responsabilidad</h3>
    </div>
</div>