<header>
    <!-- Event snippet for Compra conversion page -->
    <script>
        gtag('event', 'conversion', {
            'send_to': 'AW-821549156/fShLCLW6pMsBEOSw34cD',
            'transaction_id': ''
        });
    </script>
</header>
<li class="sll__item">
    <a href="https://wa.link/bc9ev5" rel="nofollow" target="_blank" class="sll__link icon-whatsapp"></a>
</li>