* {
    font-family: "Quicksand", sans-serif;
}

p {
    font-size: 18px;
}

h1 {
    font-size: 34px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 24px;
}

.log {
    width: 60px;
}

.slogan {
    background: $mor;
    color: white;
    h2 {
        font-weight: lighter;
    }
}

.inner--bg {
    width: 100%;
}

.back {
    position: absolute;
    z-index: -1;

    img {
        width: 100%;
        opacity: 20%;
    }
}

.alerta {
    position: absolute;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
}
