.acceso__control {
    .container {
        .access__ctrl {
            .ctrl__body {
                .col-md-4 {
                    .card {
                        .card-body {
                            .img-form {
                                display: flex;
                                justify-content: center;
                                img {
                                    width: 30%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.users__table {
    a {
        color: black;
        text-decoration: none;
        &:hover {
            transition: all .6s;
            color: $morb;
        }
    }

    .container {
        .row {
            table {
                tbody {
                    td {
                        ul {
                            list-style: none;
                            padding: 0px;
                            display: flex;
                            .list__item {
                                margin: 4px;
                                font-size: 18px;
                                .icon-trash-1 {
                                    color: red;
                                    &:hover {
                                        color: $red;
                                    }
                                }

                                .icon-pencil {
                                    color: $mor;
                                    &:hover {
                                        color: $morb;
                                    }
                                }

                                .icon-plus-circled {
                                    color: green;
                                    &:hover {
                                        color: $green;
                                    }
                                }
                            }

                            .modal {
                                .modal-dialog {
                                    .modal-content {
                                        .modal-body {
                                            ul {
                                                display: block;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.perfil {
    .container {
        .perfil__body {
            .container {
                .menu__control {
                    list-style: none;
                    padding: 0px;
                    .control__items {
                        margin: 10px;
                        .control__links {
                            color: $mor;
                            text-decoration: none;
                            &:hover {
                                transition: all .6s;
                                color: $morb;
                            }
                        }
                    }
                }
            }
        }
    }
}