{{> inner}}

<!--Sección servicios-->
<div class="container" id="servicios">
    <div class="servicios">
        <div class="hser">
            <h1>Servicios Teacompaño</h1>
            <h2>Con calidad humana</h2>
        </div>
        <div class="introser">
            <p>
                Conozca nuestros <strong>Servicios Teacompaño</strong> con la calidad y la atención humana y
                profesional
                que necesita su familia en los momentos más difíciles con el cuidado y la vigilancia que requiere el
                cuidado y la salud de nuestros pacientes.
            </p>
        </div>
        <div class="bser">
            <div class="ser-a">
                <div class="sera-img">
                    <img src="img/cuidados-basicos-2.png" alt="cuidados-enfermeria-teacompano" title="Cuidados de enfermería en el domicilio">
                </div>
                <div class="sera-txt">
                    <div class="hsera">
                        <h3>Cuidados de enfermería en el domicilio</h3>
                    </div>
                    <p>Acompañamos a nuestros pacientes en la realización de todas las actividades diarias que
                        conforman su ciclo vital, la recuperación de su salud y el reintegro a las actividades
                        familiares y sociales</p>
                    <div class="container">
                        <a href="/servicios/enfermeria-domicilio" class="btn btn-danger">Ver Más</a>
                    </div>
                </div>
            </div>
            <div class="ser-b">
                <div class="sera-txt">
                    <div class="hsera">
                        <h3>Cuidados de enfermería intrahospitalario y postquirúrgico</h3>
                    </div>
                    <p>Brindamos asistencia inmediata luego de la cirugía, evitando la presencia de complicaciones
                        que pueden ser prevenibles, logrando una recuperación exitosa y la tranquilidad familiar.
                    </p>
                    <div class="container">
                        <a href="/servicios/enfermeria-intrahospitalario" class="btn btn-danger">Ver Más</a>
                    </div>
                </div>
                <div class="sera-img">
                    <img src="img/intrahospitalarios-3.png" alt="cuidados-enfermeria-intrahospitalario-postquirurgico-teacompano" title="Cuidados de enfermería intrahospitalario y postquirúrgico">
                </div>
            </div>
            <div class="ser-a">
                <div class="sera-img">
                    <img src="img/asesoria-en-casa-2321x181.png" alt="consulta-medica-en-el-domicilio-teacompano" title="Consulta médica general en el domicilio">
                </div>
                <div class="sera-txt">
                    <div class="hsera">
                        <h3>Consulta médica general en el domicilio</h3>
                    </div>
                    <p>Nuestro personal cuenta con los mejores niveles de formación y capacitación. Por eso también
                        asesoramos a través de las visitas a su hogar, encontrando las mejores soluciones a las
                        complicaciones en la salud y en la tranquilidad de su familia.</p>
                    <div class="container">
                        <a href="/servicios/consulta-medica" class="btn btn-danger">Ver Más</a>
                    </div>
                </div>
            </div>
            <div class="ser-b">
                <div class="sera-txt">
                    <div class="hsera">
                        <h3>Acompañamiento a citas médicas</h3>
                    </div>
                    <p>Nos convertimos en el apoyo familiar de los pacientes, procurando la recuperación, la
                        comodidad y contribuyendo con las instituciones de salud para que puedan continuar con sus
                        actividades diarias.
                    </p>
                    <div class="container">
                        <a href="/servicios/acompanamiento-citas-medicas" class="btn btn-danger">Ver Más</a>
                    </div>
                </div>
                <div class="sera-img">
                    <img src="img/acompanamiento-citas.png" alt="acompanamiento-citas-teacompano" title="Acompañamiento a citas médicas">
                </div>
            </div>
            <div class="ser-a">
                <div class="sera-img">
                    <img src="img/asesoria-juridica-2.png" alt="asesoria-juridica-salud-teacompano" title="Asesoría Jurídica en salud">
                </div>
                <div class="sera-txt">
                    <div class="hsera">
                        <h3>Asesoría Jurídica en salud</h3>
                    </div>
                    <p>Entendemos los percances que tienen algunos pacientes frente al manejo de situaciones de
                        carácter jurídico que se presentan por casos como la negligencia médica o al sentirse
                        vulnerados sus derechos por parte de instituciones de salud.</p>
                    <div class="container">
                        <a href="/servicios/asesoria-juridica-salud" class="btn btn-danger">Ver Más</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Fin Sección servicios-->