{{> inner}}

<div class="miga__pan container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Servicios</a></li>
        </ol>
    </nav>
</div>

<!--Sección servicios-->
<div class="container" id="servicios">
    <div class="servicios">
        <h1><strong>Servicios de Salud Integral | Teacompaño</strong></h1>
        <div class="bser">
            <div class="ser-a">
                <div class="sera-img">
                    <img src="/img/cuidados-basicos-2.png" alt="cuidados-enfermeria-teacompano"
                        title="Cuidados de enfermería en el domicilio">
                </div>
                <div class="sera-txt">
                    <div class="hsera">
                        <h3>Cuidados de enfermería</h3>
                    </div>
                    <p>
                        Desde el área profesional acompañamos a nuestros pacientes en la recuperación de la
                        salud y el reintegro a su vida familiar y social, brindando bienestar al paciente y
                        tranquilidad a su familia.
                    </p>
                    <div class="container">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modala">
                            Ver Más
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="modala" tabindex="-1" aria-labelledby="modala" aria-hidden="true">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modala">Cuidados de enfermería en el
                                            domicilio</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="servicio__individual">
                                            <div class="container">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <img src="/img/cuidados-basicos-2.png" alt="" class="ser__img">
                                                        <ul class="ser__item">
                                                            <li>Cuidados de enfermería post-quirúrgicos</li>
                                                            <li>Cuidado de enfermería en el domicilio</li>
                                                            <li>Acompañamiento en la hospitalización</li>
                                                            <li>Realización de procesos ambulatorios <i>(inyectología, paso y cambios de sonda, curaciones, etc)</i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="/usuarios/add" class="btn btn-success">Solicitar</a>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ser-b">
                <div class="sera-txt">
                    <div class="hsera">
                        <h3>Psicología</h3>
                    </div>
                    <p>
                        Buscamos contribuir en el mejoramiento y recuperación de la salud mental
                        de nuestros pacientes y sus familias con profesionales capacitados para brindarle
                        un amplio portafolio.
                    </p>
                    <div class="container">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalb">
                            Ver Más
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="modalb" tabindex="-1" aria-labelledby="modalb" aria-hidden="true">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalb">Cuidados de enfermería intrahospitalario y
                                            postquirúrgico</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="servicio__individual">
                                            <div class="container">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <img src="/img/intrahospitalarios-3.png" alt=""
                                                            class="ser__img">
                                                        <ul class="ser__item">
                                                            <li>Piscoterapia individual</li>
                                                            <li>Intervención en crisis</li>
                                                            <li>Psicoterapia de pareja</li>
                                                            <li>Evaluación neuropsicológica</li>
                                                            <li>Asesoría psicológica</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="/usuarios/add" class="btn btn-success">Solicitar</a>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sera-img">
                    <img src="img/intrahospitalarios-3.png"
                        alt="cuidados-enfermeria-intrahospitalario-postquirurgico-teacompano"
                        title="Cuidados de enfermería intrahospitalario y postquirúrgico">
                </div>
            </div>
            <div class="ser-a">
                <div class="sera-img">
                    <img src="/img/asesoria-en-casa-2321x181.png" alt="consulta-medica-en-el-domicilio-teacompano"
                        title="Consulta médica general en el domicilio">
                </div>
                <div class="sera-txt">
                    <div class="hsera">
                        <h3>Medicina General</h3>
                    </div>
                    <p>
                        Nuestros médicos cuentan con un alto perfil profesional profesional que buscan promover y
                        preservar la salud, aliviar y reconfortar al paciente y su familia.
                    </p>
                    <div class="container">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalc">
                            Ver Más
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="modalc" tabindex="-1" aria-labelledby="modalc" aria-hidden="true">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalc">Consulta médica general en el domicilio</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="servicio__individual">
                                            <div class="container">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <img src="/img/asesoria-en-casa-2321x181.png" alt=""
                                                            class="ser__img">
                                                        <ul class="ser__item">
                                                            <li>Consulta Médica Domiciliaria</li>
                                                            <li>Consulta Médica Virtual</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="/usuarios/add" class="btn btn-success">Solicitar</a>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ser-b">
                <div class="sera-txt">
                    <div class="hsera">
                        <h3>Nutrición</h3>
                    </div>
                    <p>
                        Encuentra con nuestros profesionales asesoría en nutrición y bienestar,
                        en donde evaluamos las necesidades de cada paciente promoviendo estilos
                        de vida saludable y acompañarlos en el cumplimiento de los objetivos deseados.
                    </p>
                    <div class="container">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modald">
                            Ver Más
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="modald" tabindex="-1" aria-labelledby="modald" aria-hidden="true">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modald">Nutrición</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="servicio__individual">
                                            <div class="container">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <img src="/img/acompanamiento-citas.png" alt=""
                                                            class="ser__img">
                                                        <ul class="ser__item">
                                                            <li>Consulta domiciliaria</li>
                                                            <li>Consulta virtal</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="/usuarios/add" class="btn btn-success">Solicitar</a>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sera-img">
                    <img src="/img/acompanamiento-citas.png" alt="acompanamiento-citas-teacompano"
                        title="Acompañamiento a citas médicas">
                </div>
            </div>
            <div class="ser-a">
                <div class="sera-img">
                    <img src="/img/asesoria-juridica-2.png" alt="asesoria-juridica-salud-teacompano"
                        title="Asesoría Jurídica en salud">
                </div>
                <div class="sera-txt">
                    <div class="hsera">
                        <h3>Asesoría Jurídica</h3>
                    </div>
                    <p>
                        Brindamos acompañamiento y guiamos a nuestros usuarios en aquellas situaciones
                        jurídicas y administrativas donde se requiera reafirmar su derecho a la salud.
                    </p>
                    <div class="container">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modale">
                            Ver Más
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="modale" tabindex="-1" aria-labelledby="modale" aria-hidden="true">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modale">Asesoría Jurídica en salud</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="servicio__individual">
                                            <div class="container">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <img src="/img/asesoria-juridica-2.png" alt="" class="ser__img">
                                                        <ul class="ser__item">
                                                            <li>Asesoría virtual</li>
                                                            <li>Asesoría presencial</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="/usuarios/add" class="btn btn-danger">Solicitar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Fin Sección servicios-->